.banners {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banners .product {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  --left: 0px;
}
.banners .product .soda {
  background: var(--url) var(--left) 0, url(img/soda.png);
  background-size: auto 100%;
  background-blend-mode: multiply;
  width: 280px;
  aspect-ratio: 2/4;
  mask-image: url(img/soda.png);
  mask-size: auto 100%;
  transition: all 0.7s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.banners .product:hover {
  --left: -550px;
  transform: translateX(-50%) translateY(-300px) rotate(-10deg);
  -moz-transform: translateX(-50%) translateY(-300px) rotate(-10deg);
  -ms-transform: translateX(-50%) translateY(-300px) rotate(-10deg);
  -o-transform: translateX(-50%) translateY(-300px) rotate(-10deg);
  -webkit-transform: translateX(-50%) translateY(-300px) rotate(-10deg);
}
.banners .product .soda:nth-child(2) {
  opacity: 0;
}
.banners .product:hover .soda:nth-child(2) {
  opacity: 1;
}
